JoinTelcoServicesTest/Connected Services/ServiceJoinTelco/JoinTelcoServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadLineas" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clienteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="RecordResponseObjectOfClienteyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Cliente" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfClienteyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfClienteyy3A9QwE" />
  <xs:complexType name="ErroresException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErroresException" nillable="true" type="tns:ErroresException" />
  <xs:complexType name="RecordResponseObjectOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfstring" nillable="true" type="tns:RecordResponseObjectOfstring" />
  <xs:complexType name="RecordResponseObjectOfArrayOfClienteyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCliente" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfCliente" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfArrayOfClienteyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfArrayOfClienteyy3A9QwE" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="ContratoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente_id" type="xs:int" />
      <xs:element minOccurs="0" name="ContratoClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numerocelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plan_servicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratoCliente" nillable="true" type="tns:ContratoCliente" />
  <xs:complexType name="RecordResponseObjectOfContratoClienteyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ContratoCliente" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ContratoCliente" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfContratoClienteyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfContratoClienteyy3A9QwE" />
  <xs:complexType name="RecordResponseObjectOfArrayOfContratoClienteyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContratoCliente" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfContratoCliente" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfArrayOfContratoClienteyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfArrayOfContratoClienteyy3A9QwE" />
  <xs:complexType name="ArrayOfContratoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContratoCliente" nillable="true" type="tns:ContratoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratoCliente" nillable="true" type="tns:ArrayOfContratoCliente" />
  <xs:complexType name="RecordResponseObjectOfPlan_Servicioyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Plan_Servicio" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Plan_Servicio" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfPlan_Servicioyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfPlan_Servicioyy3A9QwE" />
  <xs:complexType name="Plan_Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plan_ServicioId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_servicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio_servicio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plan_Servicio" nillable="true" type="tns:Plan_Servicio" />
  <xs:complexType name="RecordResponseObjectOfArrayOfPlan_Servicioyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPlan_Servicio" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfPlan_Servicio" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfArrayOfPlan_Servicioyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfArrayOfPlan_Servicioyy3A9QwE" />
  <xs:complexType name="ArrayOfPlan_Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plan_Servicio" nillable="true" type="tns:Plan_Servicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlan_Servicio" nillable="true" type="tns:ArrayOfPlan_Servicio" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContrasenaUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intentos" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="RecordResponseObjectOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfboolean" nillable="true" type="tns:RecordResponseObjectOfboolean" />
  <xs:complexType name="RecordResponseObjectOfUsuarioyy3A9QwE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RecordResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponseObjectOfUsuarioyy3A9QwE" nillable="true" type="tns:RecordResponseObjectOfUsuarioyy3A9QwE" />
</xs:schema>