JoinTelcoServicesTest/Connected Services/ServiceJoinTelco/JoinTelcoServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56288/JoinTelcoServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" />
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="_cliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="RegistrarClienteResult" nillable="true" type="q2:Response.RecordResponseObjectOfClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Num_documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ObtenerClienteResult" nillable="true" type="q3:Response.RecordResponseObjectOfClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="_cliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ModificarClienteResult" nillable="true" type="q5:Response.RecordResponseObjectOfClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Num_documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="EliminarClienteResult" nillable="true" type="q6:Response.RecordResponseObjectOfstringRvdAXEcW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ListarClienteResult" nillable="true" type="q7:Response.RecordResponseObjectOfArrayOfClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarContratoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="contratoCliente" nillable="true" type="q8:ContratoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarContratoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="RegistrarContratoClienteResult" nillable="true" type="q9:Response.RecordResponseObjectOfContratoClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContratoClienteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ObtenerContratoClienteResult" nillable="true" type="q10:Response.RecordResponseObjectOfContratoClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContratoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="contratoCliente" nillable="true" type="q11:ContratoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContratoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ModificarContratoClienteResult" nillable="true" type="q12:Response.RecordResponseObjectOfContratoClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContratoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContratoClienteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContratoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="EliminarContratoClienteResult" nillable="true" type="q13:Response.RecordResponseObjectOfstringRvdAXEcW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarContratoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarContratoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ListarContratoClienteResult" nillable="true" type="q14:Response.RecordResponseObjectOfArrayOfContratoClienteNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanServiciobyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPlanServicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanServiciobyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ObtenerPlanServiciobyIdResult" nillable="true" type="q15:Response.RecordResponseObjectOfPlan_ServicioNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ObtenerPlanServiciosResult" nillable="true" type="q16:Response.RecordResponseObjectOfArrayOfPlan_ServicioNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarConexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="usuario" nillable="true" type="q17:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ValidarConexionResult" nillable="true" type="q18:Response.RecordResponseObjectOfbooleanRvdAXEcW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q19:Response.RecordResponseObjectOfUsuarioNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="usuario" nillable="true" type="q20:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfTelcoServices.Dominio" minOccurs="0" name="ActualizarUsuarioResult" nillable="true" type="q21:Response.RecordResponseObjectOfUsuarioNBNIoaBX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>